<script>
  import Board from './Board.svelte';
  import Choice from './Choice.svelte';
  import { squares, gameWon } from './stores.js';
  let iconSrc = 'resources/icon.png';
  let gameStart = false;
  let selectedImage = "Classic";
  let currentImage = "Classic";
  let images = ["Classic", "Dog", "Cat", "Dog 2", "Cat 2"];

  let convertTo1D = (i, j) => (i * 4) + j;

  let convertTo2D = (n) => [Math.floor(n / 4), n % 4];

  function handleNewGameClick(e) {
    gameStart = true;
    currentImage = selectedImage;
    squares.shuffle();
  }

  function handleKeydown(e) {
    let [i, j] = convertTo2D($squares.indexOf(16));

    let movementOptions = {
      37: { ableToMove: j !== 3, coordinates: [i, (j+1)] }, 65: { ableToMove: j !== 3, coordinates: [i, (j+1)] }, // left
      39: { ableToMove: j !== 0, coordinates: [i, (j-1)] }, 68: { ableToMove: j !== 0, coordinates: [i, (j-1)] }, // right
      38: { ableToMove: i !== 3, coordinates: [(i+1), j] }, 87: { ableToMove: i !== 3, coordinates: [(i+1), j] }, // up
      40: { ableToMove: i !== 0, coordinates: [(i-1), j] }, 83: { ableToMove: i !== 0, coordinates: [(i-1), j] }, // down
    }

    if (gameStart && !$gameWon){
      let moveDirection = movementOptions[e.keyCode];

      if (moveDirection) {
        e.preventDefault();

        if (moveDirection.ableToMove) {
          squares.swap(convertTo1D(...moveDirection.coordinates));
        }
      }
    }
  }
</script>

<style>
  .header {
    background-color: #222;
    color: white;
    text-align: center;
    height: 150px;
  }

  .header img {
    animation: logo-spin infinite 20s linear;
    height: 79px;
  }

  .mainBody {
    height: calc(100% - 150px);
  }

  .side {
    background-color: #ee99ff;
    border: 5px solid #dd33ff;
    overflow-y: auto;
  }

  .side h5 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }

  .side.left p {
    text-align: justify;
    font-size: 18px;
  }

  .side.right {
    text-align: center;
  }

    /* width */
  .side::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .side::-webkit-scrollbar-track {
    background: #ee99ff;
  }

  /* Handle */
  .side::-webkit-scrollbar-thumb {
    background: #b133ff;
  }

  /* Handle on hover */
  .side::-webkit-scrollbar-thumb:hover {
    background: hsl(277, 100%, 50%);
  }

  @keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
</style>


<svelte:window on:keydown={handleKeydown}/>

<div class="fluid-container d-flex flex-column h-100 no-gutters">
  <div class="row no-gutters">
    <div class="col header py-3">
      <div class="row no-gutters my-3">
        <div class="col-4">
          <img src={iconSrc} alt="logo" />
        </div>
        <div class="col-4">
          <h2 class="pt-3">Slider Puzzle Game</h2>
        </div>
        <div class="col-4">
          <img src={iconSrc} alt="logo" />
        </div>
      </div>
    </div>
  </div>
  <div class="mainBody row no-gutters">
    <div class="side left px-4 col-3 h-100">
      <h5 class="my-3">Welcome to Slider Puzzle Game!</h5>
      <p>
        The objective is to reassemble the image by moving the 15 pieces around the puzzle. If you're playing the 'Classic' puzzle, you can put the numbers in order,
        or you can try to make other&nbsp;<a href="http://www.thinkfun.com/wp-content/uploads/2015/09/Fifte-4900-IN02.pdf" target="blank">combinations</a>.
      </p>
      <p>
        Use the arrow or WASD keys to move the pieces. The arrows signify the direction a tile will move to fill the empty space.
        The finished puzzle will have the empty space in the lower right corner.
      </p>
    </div>
    <div class="col-6 h-100">
      <Board {gameStart} bind:currentImage on:click={handleNewGameClick}/>
    </div>
    <div class="side right col-3 h-100">
      {#each images as imageName}
        <Choice {imageName} bind:selectedImage />
      {/each}
    </div>
  </div>
</div>
