<script>
  import Square from './Square.svelte';
  import { squares, gameWon } from './stores.js';
  export let gameStart;
  export let currentImage;

  $: imageSource = 'resources/' + currentImage + '/' + currentImage + '.png';
</script>

<style>
  .board {
    border: 1px solid black;
    height: 502px;
    width: 502px;
    background-color: #b8b8b8;
    margin: 0 auto;
    position: relative;
  }

  .board img {
    height: 500px;
    width: 500px
  }

  .intro {
    width: 500px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    font-weight: bold;
  }
</style>


<div class="fluid-container d-flex flex-column h-100">
  <div class="row no-gutters h-100 align-items-center justify-content-center">
    <div class="col text-center">
      <button class="btn btn-secondary w-50 mb-4" type="button" on:click>New Game</button>

      <div class="board">
        {#if gameStart && $gameWon}
          <img src ={imageSource} alt={currentImage} />
        {:else if gameStart}
          {#each $squares as value, position}
            <Square {value} {position} {currentImage} />
          {/each}
        {:else}
          <div class="intro">
            <p>Pick an image and press 'New Game' to begin!</p>
          </div>
        {/if}
      </div>
    </div>
  </div>
</div>
