<script>
  export let imageName;
  export let selectedImage;

  $: imageSource = 'resources/' + imageName + '/' + imageName + '.png';
  $: selected = selectedImage === imageName ? "selected " : "";
</script>


<style>
  .choice.selected {
    background-color: hsl(289, 100%, 70%);
    border: 5px solid #ee99ff;
  }

  .choice img {
    height: 100px;
    width: 100px;
    border: 1px solid black;
  }

  .imgName {
    text-align: center;
    margin: auto 0;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
  }
</style>

<div class={"choice " + selected + "py-2 px-4 d-flex d-row no-gutters"} on:click={(e) => selectedImage = imageName}>
  <div class="flex-shrink-0 p-2">
    <img src={imageSource} alt={imageName} />
  </div>
  <div class="imgName flex-grow-1">
    {imageName}
  </div>
</div>
