<script>
  export let position;
  export let value;
  export let currentImage;

  let i = Math.floor(position / 4);
  let j = position % 4;

  $: imageSource = 'resources/' + currentImage + '/' + value + '.png';
</script>


<style>
  .square {
    border: 1px solid black;
    background-color: #990099;
    position: absolute;
    height: 125px;
    width: 125px;
  }

  .square img {
    height: 123px;
    width: 123px;
  }
</style>


{#if value !== 16}
  <div class="square" style="top: {(i * 125)}; left: {(j * 125)}">
    <img src={imageSource} alt={value} />
  </div>
{/if}
